# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# css
*.css

# testing
/coverage

# production
/build
/.tmp

# webStorm only
/.idea

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn.lock
package-lock.json

# vscode
/vscode/settings.json

/bin
